---
- name: Deploy Docker Compose
  hosts: all 
  become: true

  tasks:
  - name: Update apt cache
    apt:
      update_cache: yes

  - name: Check if Docker is installed
    ansible.builtin.stat: null
    path: /var/lib/docker
    register: docker_check

  - name: Install Docker if not installed
    ansible.builtin.get_url: null
    url: https://get.docker.com
    dest: /home/ubuntu/get-docker.sh
    when: docker_check.stat.exists == False

  #- name: Install Docker
   # ansible.builtin.script: null
    #src: /home/ubuntu/get-docker.sh
    #when: docker_check.stat.exists == False
  #- name: DL Docker
   # command: curl -fsSL https://get.docker.com -o get-docker.sh 

  #- name: Install Docker  
   # command: sudo sh ./get-docker.sh 

- name: Copy files to remote host
  copy:
      src: /home/ubuntu/workspace/AppNote
      dest: /home/ubuntu/

- name: Start Docker Compose
  command: docker compose up --build -d 
  args:
      chdir: /home/ubuntu/AppNote


